#HR-14 {
  fill: rgba(255, 0, 0, 0.726);
}
svg {
  fill: white;
  stroke: rgba(161, 161, 161, 0.753);
}

.head {
  width: 100%;
  height: 10vh;
  background: rgba(233, 178, 27, 0.753);
  color: white;
}

.footer {
  width: 100%;
  height: 5vh;
  background: black;
  color: white;
}

.main {
  min-height: 85vh;
}
