#HR-14 {
  fill: rgba(255, 0, 0, 0.726);
}
svg {
  fill: white;
  stroke: rgba(161, 161, 161, 0.753);
}

:root {
  --font01: 'Ballet', cursive;
}
* {
  text-decoration: none;
  list-style: none;
  outline: none;
}

.App {
  background-image: url('body.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.show-sidebar {
  display: none;
}

.show-submenu {
  display: flex;
}

/******************HEADER****************/
.head {
  width: 100%;
  height: 11vh;
  display: flex;
  /* justify-content: space-around; */
  background: radial-gradient(
    at 60% 73%,
    rgba(255, 153, 8, 0.7),
    transparent,
    transparent
  );
  /* justify-content: space-between; */
  align-items: center;
  transition: 0.5s;
}

.footer {
  width: 100%;
  height: 5vh;
  background: radial-gradient(at 50% 47%, rgba(255, 153, 8, 0.2), transparent);
  color: rgb(2, 2, 2);
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main {
  min-height: 84vh;
  /* background: rgba(0, 0, 0, 0.2); */
  border-radius: 8px;
  margin: 0 auto;
}

.title {
  font-size: 6em;
  transform: translate(60px, 26px);
  font-family: var(--font01);
  background: radial-gradient(
    at 39% 47%,
    rgba(255, 153, 8, 0.8),
    transparent,
    transparent
  );
  letter-spacing: 2px;
  width: 40%;
  text-shadow: 1px 2px rgba(255, 255, 255, 0.205);
  cursor: pointer;
  text-decoration: none;
}

.nav {
  display: flex;
  font-size: 1.7em;
  transform: translate(10%, 32px);
  color: rgba(0, 0, 0, 1);
}

.nav ul span {
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.2s;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.726);
  width: 120px;
}

.nav ul span:hover {
  text-shadow: 1px 2px rgba(54, 54, 54, 0.281);
  color: black;
}

.toggle-menu {
  background-color: transparent;
  border: none;
  transform: translate(80px, 30px);
  display: none;
  cursor: pointer;
}

.fanav {
  fill: rgba(0, 0, 0, 0.75);
  font-size: 35px;
}

/***********SIDEBAR*************/
.sidebar {
  margin: 0 auto;
  background: rgba(255, 152, 8, 0.178);
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding-top: 20px;
}

.side-thumb {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: 0.2s;
  margin-right: 8px;
}

.thumb-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.thumb-container p {
  font-size: 20px;
}

.side-name {
  font-size: 30px;
}
/***********SUBMENU*************/
.submenu {
  background: rgba(0, 0, 0, 0.2);
  display: none;
}
.sublinks-container {
  position: absolute;
  transform: translateX(-44%);
  transition: 0.2s;
  display: flex;
  background: radial-gradient(
    at 40% 35%,
    rgba(255, 153, 8, 0.9),
    transparent,
    transparent
  );
  max-width: 40%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sub-cont {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: 22px;
  padding-top: 15px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.205);
}
.sub-thumb {
  width: 130px;
  transition: 0.2s;
  border-radius: 8px;
}

.subthumb-cont {
  overflow: hidden;
  border-radius: 8px;
}

.sub-thumb:hover,
.side-thumb:hover {
  transform: scale(1.5);
}

.sublinks-container::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid black;
  position: absolute;
  top: -5px;
}

/**********PAYS*****************/
.pays,
.continent {
  height: 81.9vh;
}

/****************RESPONSIVE****************/
@media (max-width: 1455px) {
  .title {
    font-size: 4.5em;
  }

  .nav {
    font-size: 1.5em;
  }
}

@media (max-width: 1127px) {
  .title {
    width: 80%;
    transform: translate(30px, 26px);
  }
  .nav {
    display: none;
  }

  .toggle-menu {
    display: flex;
  }
}
@media (max-width: 414px) {
  .title {
    font-size: 3.1em;
    width: 100%;
    transform: translate(5px, 6px);
  }
  .toggle-menu {
    transform: translate(-10px, 6px);
  }
  .side-name {
    font-size: 20px;
  }
  .thumb-container p {
    font-size: 15px;
  }
  .side-thumb {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
}
